// header time box component
.time-box {
    text-align: center;
    background-color: $lavender;
    padding: 20px;
    border-radius: 10px;

    span {
        font-family: $base-font;
    }
}

//Media Queries

// tabs
@media (min-width: 768px) and (max-width: 991px) {
    .time-box {
        padding: 10px;

        span {
            font-size: 10px;
        }
    }
}

// Mobile
@media (max-width: 767px) {
}
