// colors
$white: #fff;
$alice-blue: #eef4f7;
$black: #000;
$lavender: #e8e7ee;
$green: #51a94b;
$royal-blue: #2962ff;
$brink-pink: #f75c81;
$torch-red: #ff1135;
$bossanova: #4f4c50;

//Font family
$base-font: "PT Sans", sans-serif;

//font weight
$regular: 400;
$bold: 700;
